/* HEADER */

.cabecera {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #eff2ee
}

.custom-header-cep {
    background-color: #00852f;
}

.header-logo {
    display: flex;
    align-items: center;   
}

.header-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 34px;
    padding-left: 500px;
}

.navegacion {
    display: flex;
    
}

.list-navegacion {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 50px;
}

.item-nav {
    display: inline-block;
    margin-left: 20px;
}

.link-nav {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #00852f;
    font-size: 20px;
    font-weight: bold;
}

/* MAIN */
/* Introducción de la web */

.welcome-banner {
    /*display: flex;
    justify-content: center;*/
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: darkgreen;
    /*padding-top: 15px;*/
    display: block;
    margin: 0 auto;
    padding: 25px;
}

.cep-video {
    display: block;
    margin: 0 auto;
}

/* Info del Instituto */

.inicio-info {
    display: flex;
    justify-content: center;
}

.inicio-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 280px 0 280px;
}

.inicio-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 290px;
    margin: 20px;
}

.info-img {
    width: 200px;
}

.infobutton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color:#00852f;
    text-align: center;
}

/* Seccion Cursos */

.courses-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 100px;
}

.figure-caption text-start {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.btn-primary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #00852f;
    border-radius: 5px;
    margin-bottom: 20px;
}

.pic-text {
    text-decoration: none;
    text-align: center;
    font-size: medium;
}

.courses-pics {
    overflow-clip-margin: content-box;
    overflow: clip;
    border-radius: 5%;
    border-color: #00852f;
    margin: 20px;
}

.pic-description {
    text-decoration: none;
    text-align: center;
    font-size: medium;
    text-shadow: black;
    text-emphasis-color: #00852f;
}

/*El Equipo*/

.team-container {
    margin-top: 40px;
}

/*.the-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px 280px 0 280px;
}*/

/*.team-config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 290px;
    margin: 20px;
}*/

/*.btn-success {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
}*/

/* CONTACTO */
.contacto {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}

/* NOSOTROS */
.name-text {
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
}
.us-section {
    display: flex;
    justify-content: center;
}

.us-description{
    margin: 40px 0 40px 0;
}

.card {
    margin: 0 0 20px 0;
}