@import url('font-family: 'Roboto', sans-serif;');

.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 1 fr 0.5 fr 1 fr;
    grid-template-areas: "header header header" "footer footer footer footer";
}
body {
    background-color: #eff2ee
}
/*HEADER*/
header {
    display: flex;
    flex-flow: row wrap;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    background-color: #d9eec7; 
}

header img {
    padding: 0%;
    margin-left: 30px;
    margin-top: 10px;
    }

header h1{
    display: flex;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header nav ul li a {
    display: block;
    font-size: 24px;
    margin: 10px;
    justify-content: space-between;
    color: #666666;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    }

ul {
    list-style: none;
}
.code{
    display: flexbox;
    justify-content: center;
    align-items: center;

}