@charset "UTF-8";
/* Estilos para el header */
.cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #eff2ee;
}

/* Estilos para el logo */
.header-logo {
  display: flex;
  align-items: center;
}

.header-icon {
  max-width: 40px;
  margin-right: 10px;
}

/* Estilos navegacion */
.navegacion {
  flex-grow: 1;
  text-align: right;
}

.list-navegacion {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-nav {
  display: inline-block;
  margin-left: 20px;
}

.link-nav {
  text-decoration: none;
  color: #333;
  font-size: 27px;
  font-weight: bold;
}

/* media queries */
@media screen and (max-width: 768px) {
  .cabecera {
    flex-direction: column;
    align-items: center;
  }
  .navegacion {
    margin-top: 20px;
    text-align: center;
  }
  .item-nav {
    display: block;
    margin: 10px 0;
  }
}
/* Estilos sección video */
/* Estilos título */
.welcome-banner {
  display: flex;
  justify-content: center;
  font-size: 37px;
  font-weight: bold;
  color: #333;
  color: var(#00852f);
  transition: color 0.2s; /*hover*/
}

.welcome-robot {
  display: flex;
  justify-content: center;
  size-adjust: 50%;
}

/* Info del instituto */
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.botoninfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo de las imagenes */
img {
  max-width: 45%;
  height: auto;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
  padding-left: 20px;
}

/* Seccion Cursos */
/*.container-cursos {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}*/
.kids-section {
  display: flex;
  justify-content: left;
}

#img1 {
  max-width: 200%;
  height: -moz-fit-content;
  height: fit-content;
}

#section-button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

/*segunda fila izq*/
.cursos-izq {
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  justify-items: stretch;
  justify-content: space-evenly;
}

#img2 {
  max-width: 45%;
}

#img3 {
  max-width: 45%;
}

/* fila derecha cursos */
.cursos-der {
  display: flex;
  justify-content: right;
}

#img4 {
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-self: flex-end;
  max-width: 50%;
}

/* Estilos de cada curso */
/*.seccion-cursos {
    position: relative;
    overflow: hidden;
}*/
/* Estilos de las imagenes */
/*.seccion-cursos img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}*/
/*Estilo de los títulos de cursos */
/*.seccion-cursos h1[slot="header"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}*/
/* El Equipo */
.the-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: first baseline;
}

/* Estilos de la presentación del equipo */
/*.nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}*/
/* Estilos de los perfiles del equipo */
/*.card-theteam {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
}*/
.idcards {
  display: flex;
  flex-direction: row;
  width: 20rem;
  height: auto;
}

.btn btn-success {
  display: flex;
  flex-direction: row;
  width: 20rem;
  height: auto;
}

/* Estilos para textos y enlaces */
@media screen and (max-width: 768px) {
  .nosotros {
    flex-direction: column;
    align-items: center;
  }
}
/* Footer */
.footer-config {
  background-color: #00852f;
}

/* Estilos para el logo */
.footer-logo {
  display: flex;
  align-items: center;
}

.footer-icon {
  max-width: 40px;
  margin-right: 10px;
}

/* Estilos navegacion */
.navigation-footer {
  flex-grow: 1;
  text-align: right;
}

.list-navegacion-footer {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-nav-footer {
  display: inline-block;
  margin-left: 20px;
}

.link-nav-footer {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

/* media queries */
@media screen and (max-width: 768px) {
  .cabecera {
    flex-direction: column;
    align-items: center;
  }
  .navegacion {
    margin-top: 20px;
    text-align: center;
  }
  .item-nav {
    display: block;
    margin: 10px 0;
  }
}
/* Pagina Cursos */
#courses-title {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  width: 25rem;
}

.card-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/* Footer Cursos */
.navbar bg-body-tertiary {
  background-color: #00852f;
}/*# sourceMappingURL=indexstyle.css.map */