%h1 {
    color: $primary-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}

%h2 {
    color:$senary-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

%h3 {
    color: $septenary-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
    text-align: center;
}

%p {
    color: $tertiary-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}