$color:(
    primary: #00852f,
    secondary: #45b76ddd,
    tertiary: #333,
    quaternary: #fff,
    quinary: #ddd,
    senary: #000000,
    septenary: #424242,
    octonary: #40bd00,
    nonary: #ffffff,
)

