$primary-color: #00852f;
$secondary-color: #45b76ddd;
$tertiary-color: #333;
$quaternary-color: #fff;
$quinary-color: #ddd;
$senary-color: #000000;
$septenary-color: #424242;
$octonary-color: #40BD00;
$nonary-color: #ffffff
