/* Página NOSOTROS */
  /* Texto Presentación */

  .name-text {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
  }

  /* Presentación */

  .pic-aside {
    float: right;
    z-index: 5;
    right: 0;
    width: 50vw;  
    height: 125vh;
    background-image: url(../img/index/fotos/aside-cep.webp);
    background-size: cover;
    border: solid 1px; /*agregar color*/
    box-shadow: 2px 2px 5px; /*agregar color*/
    box-sizing: border-box;
    margin-right: 20px;
  }

  .us-asidetitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $senary-color;
    text-shadow: #999797 1px 1px 1px;
    margin-top: 90px;
    box-sizing: border-box;
  }

  .us-paragraph {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: $senary-color;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-top: 250px;
  }
  .card {
    margin: 0 0 20px 0;
  }