.name-text {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    @extend %h1;
}

.quote-us {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}

.us-asidetitle {
    color: rgb(27, 201, 27);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: #636363 1px 1px 1px;
    margin-top: 100px;
    box-sizing: border-box;
}

.us-section {
    background-image: url(../img/index/fotos/bckcep-11.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    margin: 30px;
    gap: 20px;
}